/*Isso foi feito por um retardado feliz conhecido como Lera*/





@media only screen and (max-width: 740px) {
	#timeline {
		margin-left:-9em;
	}

	.ppmbtn {
		margin-left:-9em;
	}

	.time {
		margin-left:-9em;
	}

	.Watermark {
		margin-left:5em;
	}
}




@media only screen and (orientation: portrait) {

body {
	background:rgb(207,207,207);
}

	#timeline {
		max-width:100%;
		margin-left:-11em;
	}

	.ppmbtn {
		margin-left:-12em;
		min-width:100%;

	}

	#muteb {
		margin-left:-12em;
	}
	.time {
		margin-left:-13.5em;
		min-width:100%;
	}

	.pdur {
		margin-left:-6em;
	}

	.podplayer {
		min-width:100%;
	}

	.vol {
		margin-left:-24em;
	}

	.Watermark {
		left:0;
		margin-top:-0.4em;
	}

}

	.podplayer {
		border:#cd919e solid;
		max-width:100%;
		min-height:100%;
		background:rgba(207,207,207);
/*		text-align:center;*/
	}



 .ppmbtn {

	width:42%;
	position:relative;
	top:7em;
	left:12em;

}

	#pButton {
		width:12em;
		height:7em;
		background-size:11em 7em;
	background-repeat:no-repeat;
		top:2em;
/*	left:14%;*/
	position:relative;

		}
	.playbutton {

		background:url("./svg/play.svg");
		}


	.pause {
		background-image:url("./svg/pause.svg");
	}

	#muteb {
		width:6em;
		height:5em;
		background-size:154% 110%;
		background-repeat:no-repeat;
		position:relative;
		bottom:4em;
		left:28em;
	}

	.mutebutton {
		background:url("./svg/muteb.svg");
	}

	.unmutebutton {
		background-image:url("./svg//unmuteb.svg");
	}





	#timeline {
		left:11em;
		top:10em;
		width:600px;
		float:left;
		height:50px;
		background: rgba(112,128,142,0.9);
		position:relative;
	}

	#playhead {
	width:0;
	height:50px;
	float:left;
	background: rgba(255,193,193,0.6);
	position:relative;

	}

	#d1 {
		 display: block;
	    height: 100%;
	    background-color: rgba(255,0,0, 0.3);
	    width: 0;
	}

	#downloaded {
		width:0;
		height:50px;
		background-color: rgba(255,193,193, 0.3);
		position:relative;
		/*bottom:51px;	*/
	}

	.ctime {
		background:rgba(112,128,144,1);
		color:#ffe4e1;
	/*	left:22%;*/
		position:relative;
	}

	.pdur {
		background-color:rgba(112,128,144,1);
		font-weight:bold;
		color:#ffe4e1;
		left:10em;
		position:relative;
	}

	.time {

		position:relative;
		left:13.5em;
		top:6em;
		width:38%;
	}

	.ctime, .pdur {
		font-size:200%;
	}


	.vol {
		-webkit-appearance:none;
		background:rgba(105,105,105,0.6);
		position:relative;
		top:11em;
		left:31em;
		z-index:1;
	}


	.vol::-moz-range-thumb {
	background:#ffe4e1;
}


.ptitle h1 {

	color:#ffe4e1;
	background: rgba(112,128,144,0.6);
word-wrap:break-word;
display:inline;
	
}

.ptitle {
	overflow:auto;
height:14em;

}
	




.plist {
	background-color: #bebebe;
	position:relative;
	top:14.6em;
	overflow: auto;
	height:14em;
	width:100%;
}

.plist ul li {
	line-height:1.3em;
	list-style:none;
}

.plist ul li span {
	background:#708090;	
	font-weight:bold;
	color:#eee9e9;
}

.plist ul li span:active {
	  background-color: rgba(255,193,193, 0.3);
}


@font-face {
	font-family:aforever;
	src:url(fonts/amiga4ever-pro.ttf);
}

.Watermark {
position:relative;
right:7.5em;
top:1.2em;
font-size:143%;
color:#cd919e;
opacity:0.4;
font-family:aforever;
}
